body {
	/* background: #F0F0F0; */
	/* background-color: #FFFFFF; 
	background-color: #666666;
	*/
	
	background: url('../images/background.jpg');
}

.blog-title a:link {
    text-decoration: none;
}

.navbar-brand {
	font-size: 14px;
}

.floatButton {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 9999999;
}

.entry-box {
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
}
.entry-box:hover {
    box-shadow: 2px 2px 8px rgba(0,0,0,.2);
    border-color: #d6d6d6;
}

.article-entry-header {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

.article-entry-title {
    /*text-align: center;*/
    margin-bottom: 10px;
}
.article-entry-title a {
    text-decoration: none;
}

.article-entry-info {
    height: 35px;
}

.left-info{
	float: left;
}

.right-info{
	float: right;
}

.article-entry-sum {
    margin-top: 5px;
}

.article-lr-info { overflow: hidden; clear: both; margin: 10px 0;display: inline-block; color: #838383; width: 100%;  }
.article-lr-info span { margin: 0 10px 0 0; padding-left: 20px }
.article-lr-info span a { color: #759b08; }
.article-lr-info span a:hover { text-decoration: underline }

.label-views {
	background: url('../images/views.png') no-repeat left center ;
	float: right;
}
.label-comments {
	background: url('../images/comments.png') no-repeat left center ;
	float: right;
}
.label-datetime {
	background: url('../images/datetime.png') no-repeat left center ;
	float: right;
}


