/*
 * css
 * */

body {
	padding:0px; 
	margin:0px;
	text-align: start;
	font-size: 15px;
	line-height: 1.45;
	color: #3f3f3f;
}

/* 导航 */
.panel-nav {
	padding:0px; 
	margin:0px; 
	width: %100; 
	height: 40px; 
	background-color:#48525e;
}

/*  */
.panel-nav ul {
	padding:0px; 
	margin:0px;
}

.panel-nav ul img {
	display: block;
	float: left;
	height: 40px;
	line-height: 18px;
	margin: 0;
	padding: 0;
	width: 40px; 
	margin-left: 40px;
}

.panel-nav ul a {
	color: #ffffff; 
	height: 24px; 
	font-size: 24px; 
	vertical-align:middle; 
	text-decoration:none; 
	padding:0px; 
}

/* 标题输入框 */
.title-edit {
	padding:0px; 
	margin:0px auto; 
	height: 90px; 
	background-color:#ffffff; 
}

.title-edit form input {
	width: 100%; 
	height: 60px; 
	vertical-align:middle;
	line-height:40px;	
}

/* 编辑工具 */
.edit-tools-menu {
	padding:0px; 
	margin:0px; 
	height: 40px; 
	background-color:#ededed; 
}

/* 预览 */
.edit-container {
	padding:0px; 
	margin:0px; 
	background-color:#ffffff; 
	padding:2px 0px;
}

/* 编辑 */
.preview-page {
	background-color: #f6f6f6;
	float:right; width:50%; 
	border:1px solid #000; 
	height:720px;
}

.edit-page {
	width:50%;
	border:1px solid #000; 
	height:720px;
}